extends ../../layouts/default2.pug
include ../../mixins/alert.pug
block main
  +alert-error(5000)
  .search
    form#search-box(action='POST')
      input#search-text(type='text' placeholder='Nhập công việc bạn muốn tìm...' name="keyword" value=keyword)
      button#search-btn(type="submit")
        i.fa-solid.fa-magnifying-glass
        |  Search
  section.jobs-container
    .box-container
      each item in records
        .box
          .company
            img(src=item.thumbnail)
            div
              h2 #{item.companyName}
              span #{moment(item.createdAt).format("DD/MM/YYYY")}
          .body 
            p.job-title  #{item.title}
            p.location
              i.fa-solid.fa-location-dot
              | #{item.viTri}
            div Salary: #{item.salary}$
            br
            div Kĩ năng: #{item.kiNang}
            br
            .flex-btn
              a.btn(href=`/job/detail/${item.id}`)  View details
              button.far.fa-heart(type='submit' name='save')