extends ../../layouts/default.pug
block main
  section.jobs-container
    h1.jobs-heading  Latest Jobs
    .box-container
      each item in records
        .box
          .company
            img(src=item.thumbnail)
            div
              h2 #{item.companyName}
              span #{moment(item.createdAt).format("DD/MM/YYYY")}
          p.job-title  #{item.title}
          p.location
            i.fa-solid.fa-location-dot
            | #{item.viTri}
          div Salary: #{item.salary}$
          div Kĩ năng: #{item.kiNang}
          .flex-btn
            a.btn(href=`/job/detail/${item.id}`)  View details
            button.far.fa-heart(type='submit' name='save')
    br
    br
    br
    br
    br
    br
      