extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-error(5000)
    +alert-success(5000)
    .view-company
        h3.heading
            <i class="fa-solid fa-window-minimize"></i>
            <i class="fa-solid fa-eye"></i>
            <i class="fa-solid fa-window-minimize"></i>
        .details
            .info
                img(src=detailJob.thumbnail alt='')
                h3 #{detailJob.companyName}
            .description
            div(class="mb-4") <b>Mô tả công việc: </b> !{detailJob.jobDescription}
            div(class="mb-4") <b>Yêu cầu công việc: </b> !{detailJob.jobRequirement}
            div(class="mb-4") <i class="fa-solid fa-location-dot"></i> !{detailJob.viTri}
            div(class="mb-4") <i class="fa-solid fa-chart-simple"></i> !{detailJob.kiNang}
            div(class="mb-4") <i class="fa-solid fa-money-bill"></i> #{detailJob.salary}$ 
            h3 Thông tin liên hệ
            if (detailJob.nameHR)
                div(class="mb-4") <i class="fa-solid fa-user-tie"></i> #{detailJob.nameHR}
            if (detailJob.phoneNumber)
                div(class="mb-4") <i class="fa-solid fa-phone"></i> #{detailJob.phoneNumber}
            if (detailJob.email)
                div(class="mb-4") <i class="fa-solid fa-envelope"></i> #{detailJob.email}
            if (!profile && !employer && !user)
                a(href="/candidate/login" class="btn btn-success btn-block apply") Ứng tuyển 
            else if (profile && !employer)
                form(
                    form-apply
                    action=`/employer/applied/add/${user.id}/${detailJob.id}`
                    method="POST"
                )
                    button(
                        button-apply
                        type="submit"
                        class="btn btn-success btn-block apply"
                    ) Ứng tuyển
            else
                if (!employer)
                    button(
                        class="btn btn-success btn-block apply"
                        none-apply
                    ) Ứng tuyển
