extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    +alert-success(5000)
    section#home.home
      .content
        h3
          | FIND 
          br
          | NEW JOB
        a.btn(href='/job') Show More
    section.company-container
        h2.company-heading  Đơn tuyển dụng nổi bậc
        .box-container
           each item in jobsFeatured
            .box
              .company
                img(src=item.thumbnail)
                div
                  h3 #{item.companyName}
              div
                h4 #{item.title}
              p.location
                i.fa-solid.fa-location-dot
                | #{item.viTri}
              div
                span
                  i.fa-solid.fa-clock  #{moment(item.createdAt).format("DD/MM/YYYY")}
                span
                  i.fa-solid.fa-money-bill  #{item.salary}$
                br
                .foot
                  a.btn(href=`/detail/${item.id}`)  View details 
                  button.far.fa-heart(type='submit' name='save')
        h2.company-heading  Đơn tuyển dụng mới nhất
        .box-container
           each item in newjobs
            .box
              .company
                img(src=item.thumbnail)
                div
                  h3 #{item.companyName}
              div
                h4 #{item.title}
              p.location
                i.fa-solid.fa-location-dot
                | #{item.viTri}
              div
                span
                  i.fa-solid.fa-clock   #{moment(item.createdAt).fromNow()}
                sapn
                  i.fa-solid.fa-money-bill  #{item.salary}$
                br
                .foot
                  a.btn(href=`/detail/${item.id}`)  View details 
                  button.far.fa-heart(type='submit' name='save')
          
          
