extends ../../layouts/default.pug
block main
    section#home.home
      .search
        form#search-box(action='POST')
          input#search-text(type='text' placeholder=' Nhập công việc mà bạn muốn tìm...' required='')
          button#search-btn
            i.fa-solid.fa-magnifying-glass
            |  Search
      .content
        h3
          | FIND 
          br
          | NEW JOB
        a.btn(href='jobs.html') Show More
    section.company-container
        h2.company-heading  Đơn tuyển dụng nổi bậc
        .box-container
           each item in jobsFeatured
            .box
              .company
                img(src=item.thumbnail)
                div
                  h3 #{item.companyName}
              div
                h4 #{item.title}
              p.location
                i.fa-solid.fa-location-dot
                | #{item.viTri}
              div
                span
                  i.fa-solid.fa-clock  #{moment(item.createdAt).format("DD/MM/YYYY")}
                sapn
                  i.fa-solid.fa-money-bill  #{item.salary}$
                br
                .foot
                  a.btn(href=`/detail/${item.id}`)  View details 
                  button.far.fa-heart(type='submit' name='save')
        h2.company-heading  Đơn tuyển dụng mới nhất
        .box-container
           each item in newjobs
            .box
              .company
                img(src=item.thumbnail)
                div
                  h3 #{item.companyName}
              div
                h4 #{item.title}
              p.location
                i.fa-solid.fa-location-dot
                | #{item.viTri}
              div
                span
                  i.fa-solid.fa-clock  #{moment(item.createdAt).format("DD/MM/YYYY")}
                sapn
                  i.fa-solid.fa-money-bill  #{item.salary}$
                br
                .foot
                  a.btn(href=`/detail/${item.id}`)  View details 
                  button.far.fa-heart(type='submit' name='save')
          
          
