mixin alert-success()
    - if(messages.success)
        div(
            class="alert alert-success"
            show-alert
            data-time="5000"
        )
            | #{messages.success}
            button(class="myButton wrong" close-alert)
                i.fa-solid.fa-xmark
mixin alert-error()
  - if (messages.error)
      div(
        class="alert alert-danger"
        show-alert
        data-time = "3000"
        )
        | #{messages.error}
        button(class="myButton wrong" close-alert)
            i.fa-solid.fa-xmark 