extends ../../layouts/default2.pug
include ../../mixins/alert.pug
block main
  +alert-success(5000)
  +alert-error(5000)
  .container.my-5
    .row.justify-content-center
        form#form-register(action='/employer/login' method="POST")
            h2(class="text-center") Đăng nhập tài khoản
            div(class="form-group")
                label(for="email") Email
                input(
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
                )
            div(class="form-group")
                label(for="password") Mật khẩu
                input(
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
                )
            a(href="/employer/password/forgot") Quên mật khẩu?
            div(class="form-group")
                button(
                type="submit"
                class="btn btn-primary btn-block register"
                ) Đăng nhập
